html{
    font-size: 18px;
}

div span {
    padding: 1rem;
    font-size: 3rem;
    position: absolute;
    margin-left: 30rem;
    background-color: burlywood;
    border-radius: 4rem;
}

:root {
    --fix: 10rem; 
}

.span-one {
    margin-left: 30rem;
    background-color: red;
}
.span-two {
    margin-top: 7rem;
    margin-left: 40rem;
}
.span-three {
    margin-top: 17rem;
    margin-left: 48rem;
}
.span-four {
    margin-top: 7rem;
    margin-left: 20rem;
}
.span-five {
    margin-top: 17rem;
    margin-left: 20rem;
}
.span-six {
    margin-top: 26.5rem;
    margin-left: 20.2rem;
}
.span-seven {
    margin-top: 5.69em;
    margin-left: 33rem;
}
.span-eight {
    margin-top: 26rem;
    margin-left: 40rem;
}

img {
    display: inline;
    position: absolute;
    width: 8rem;
    
}

body div:nth-child(2) {
    position: absolute;
    right: 80rem;
}

.img1 {
    top: 8rem;
    /*right: 28rem;*/
    right: calc(var(--fix) + 40rem);
    transform: rotate(318deg);
    width: 7rem;
}
.img2 {
    top: 7.6rem;
    right: 39rem;
    transform: rotate(45deg);
    width: 7rem;
}
.img3 {
    top: 16rem;
    right: 30rem;
    transform: rotate(45deg);
    width: 7rem;
}
.img4 {
    top: 16rem;
    right: 38rem;
    transform: rotate(315deg);
    width: 7rem;
}
.img5 {
    top: 17rem;
    right: 55.6rem;
    transform: rotate(90deg);
    width: 5rem;
}
.img6 {
    top: 27rem;
    right: 55.6rem;
    transform: rotate(90deg);
    width: 5rem;
}
.img7 {
    top: 26.5rem;
    right: 39rem;
    transform: rotate(45deg);
    width: 6rem;
}
.img8 {
    top: 26.5rem;
    right: 31rem;
    transform: rotate(315deg);
    width: 6rem;
}
.img9 {
    top: 15.9rem;
    right: 46.7rem;
    transform: rotate(40deg);
    width: 9rem;
}
.img10 {
    top: 10rem;
    right: 42rem;
    width: 11rem;
}